In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
from pprint import pprint 
import requests
from datetime import datetime, timedelta

from functools import reduce
import time

# Johns Hopkins Universtiry (JHU) github data
Two sets: 
1. Daily Reports
2. Time Series

https://github.com/CSSEGISandData/COVID-19

### A few notes:
1. All dates in the "current" are UTC

## Daily Reports 
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

**What**: Each file has 1 row that contains total cumulative totals from Jan 22 through this date\
**Keys**: Admin2 (city), Province_State, Country_Region\
**Update freq**: Daily\
**Use when**: 
1. You only care about "right now", as in "What are the cumulative counts right now?" 
2. You plot current/specific day's case numbers by either City/State/Country, State/Country, or Country
2. You want to map / chloropleth (inc. lat/long)

What: A count of the confirmed cases/deaths/recoveries from Nov 1, 2019 up until this date\
Granularity: City => State/Province => Country\

## Time Series
**What**: 1 row per Province/State, Country and 1 column per day since Jan 22 that contains that day's counts. Separate files for confirmed, deaths, recoveries.  \
**Keys**: State/Province, Country\
**Use when**: 
1. You want to plot daily case numbers by State/Province and/or Country
2. You want to map / chloropleth (inc. lat/long)
* Example: On March 26, the March 25 csv had 66 columns - the 4 "keys" and 62 separate columns b/c there have have been 62 total days passed since Jan 22

## Archived - Daily Reports
**What**: \
**Keys**: \
**Use when**: 

## Archived - Time Series
https://github.com/CSSEGISandData/COVID-19/tree/master/archived_data/archived_time_series

**What**: 1 row per City/State/Country and 1 column per day since Jan 22 that contains that day's counts\
**Keys**: State/Province, Country\
**Use when**: 
1. You want to plot daily case numbers by State and/or Country
2. You want to map / chloropleth (inc. lat/long)
* Example: On March 26, the March 25 csv had 66 columns - the 4 "keys" and 62 separate columns b/c there have have been 62 total days passed since Jan 22

In [10]:
baseUrl = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/archived_data/archived_time_series/time_series_19-covid-Confirmed_archived_0325.csv"

df = pd.read_csv(baseUrl)
df.info

<bound method DataFrame.info of                    Province/State         Country/Region      Lat      Long  \
0                             NaN               Thailand  15.0000  101.0000
1                             NaN                  Japan  36.0000  138.0000
2                             NaN              Singapore   1.2833  103.8333
3                             NaN                  Nepal  28.1667   84.2500
4                             NaN               Malaysia   2.5000  112.5000
5                British Columbia                 Canada  49.2827 -123.1207
6                 New South Wales              Australia -33.8688  151.2093
7                        Victoria              Australia -37.8136  144.9631
8                      Queensland              Australia -28.0167  153.4000
9                             NaN               Cambodia  11.5500  104.9167
10                            NaN              Sri Lanka   7.0000   81.0000
11                            NaN                Germany  51.0000    9.0000
12                            NaN                Finland  64.0000   26.0000
13                            NaN   United Arab Emirates  24.0000   54.0000
14                            NaN            Philippines  13.0000  122.0000
15                            NaN                  India  21.0000   78.0000
16                            NaN                  Italy  43.0000   12.0000
17                            NaN                 Sweden  63.0000   16.0000
18                            NaN                  Spain  40.0000   -4.0000
19                South Australia              Australia -34.9285  138.6007
20                            NaN                Belgium  50.8333    4.0000
21                            NaN                  Egypt  26.0000   30.0000
22          From Diamond Princess              Australia  35.4437  139.6380
23                            NaN                Lebanon  33.8547   35.8623
24                            NaN                   Iraq  33.0000   44.0000
25                            NaN                   Oman  21.0000   57.0000
26                            NaN            Afghanistan  33.0000   65.0000
27                            NaN                Bahrain  26.0275   50.5500
28                            NaN                 Kuwait  29.5000   47.7500
29                            NaN                Algeria  28.0339    1.6596
..                            ...                    ...      ...       ...
471                           NaN             Cabo Verde  16.5388  -23.0418
472                  Sint Maarten            Netherlands  18.0425  -63.0548
473                           NaN                  Niger  17.6078    8.0817
474                           NaN       Papua New Guinea  -6.3150  143.9555
475                   Isle of Man         United Kingdom  54.2361   -4.5481
476                           NaN               Zimbabwe -20.0000   30.0000
477         Northwest Territories                 Canada  64.8255 -124.8457
478                           NaN             Cape Verde  15.1111  -23.6167
479                           NaN             East Timor  -8.5500  125.5600
480                           NaN                Eritrea  15.1794   39.7823
481                           NaN                 Uganda   1.0000   32.0000
482                           NaN               Dominica  15.4150  -61.3710
483                           NaN                Grenada  12.1165  -61.6790
484                           NaN             Mozambique -18.6657   35.5296
485                           NaN                  Syria  34.8021   38.9968
486                           NaN            Timor-Leste  -8.8742  125.7275
487                           NaN             Guadeloupe  16.2650  -61.5510
488                           NaN                Reunion -21.1151   55.5364
489                           NaN          French Guiana   3.9339  -53.1258
490                           NaN                Mayotte -12.8275   45.1662
491  United States Virgin Islands                     US  18.3358  -64.8963
492                            US                     US  37.0902  -95.7129
493                           NaN              Greenland  72.0000  -40.0000
494                           NaN                   Guam  13.4443  144.7937
495                           NaN               Guernsey  49.4500   -2.5800
496                           NaN                 Jersey  49.1900   -2.1100
497                           NaN            Puerto Rico  18.2000  -66.5000
498                           NaN  Republic of the Congo  -1.4400   15.5560
499                           NaN            The Bahamas  24.2500  -76.0000
500                           NaN             The Gambia  13.4667  -16.6000

     1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  3/14/20  \
0          2        3        5        7        8        8  ...       82
1          2        1        2        2        4        4  ...      773
2          0        1        3        3        4        5  ...      212
3          0        0        0        1        1        1  ...        1
4          0        0        0        3        4        4  ...      238
5          0        0        0        0        0        0  ...       64
6          0        0        0        0        3        4  ...      112
7          0        0        0        0        1        1  ...       49
8          0        0        0        0        0        0  ...       46
9          0        0        0        0        0        1  ...        7
10         0        0        0        0        0        1  ...       10
11         0        0        0        0        0        1  ...     4585
12         0        0        0        0        0        0  ...      225
13         0        0        0        0        0        0  ...       85
14         0        0        0        0        0        0  ...      111
15         0        0        0        0        0        0  ...      102
16         0        0        0        0        0        0  ...    21157
17         0        0        0        0        0        0  ...      961
18         0        0        0        0        0        0  ...     6391
19         0        0        0        0        0        0  ...       19
20         0        0        0        0        0        0  ...      689
21         0        0        0        0        0        0  ...      109
22         0        0        0        0        0        0  ...        0
23         0        0        0        0        0        0  ...       93
24         0        0        0        0        0        0  ...      110
25         0        0        0        0        0        0  ...       19
26         0        0        0        0        0        0  ...       11
27         0        0        0        0        0        0  ...      210
28         0        0        0        0        0        0  ...      104
29         0        0        0        0        0        0  ...       37
..       ...      ...      ...      ...      ...      ...  ...      ...
471        0        0        0        0        0        0  ...        0
472        0        0        0        0        0        0  ...        0
473        0        0        0        0        0        0  ...        0
474        0        0        0        0        0        0  ...        0
475        0        0        0        0        0        0  ...        0
476        0        0        0        0        0        0  ...        0
477        0        0        0        0        0        0  ...        0
478        0        0        0        0        0        0  ...        0
479        0        0        0        0        0        0  ...        0
480        0        0        0        0        0        0  ...        0
481        0        0        0        0        0        0  ...        0
482        0        0        0        0        0        0  ...        0
483        0        0        0        0        0        0  ...        0
484        0        0        0        0        0        0  ...        0
485        0        0        0        0        0        0  ...        0
486        0        0        0        0        0        0  ...        0
487        0        0        0        0        0        0  ...        0
488        0        0        0        0        0        0  ...        0
489        0        0        0        0        0        0  ...        0
490        0        0        0        0        0        0  ...        0
491        0        0        0        0        0        0  ...        0
492        0        0        0        0        0        0  ...        0
493        0        0        0        0        0        0  ...        0
494        0        0        0        0        0        0  ...        0
495        0        0        0        0        0        0  ...        0
496        0        0        0        0        0        0  ...        0
497        0        0        0        0        0        0  ...        0
498        0        0        0        0        0        0  ...        0
499        0        0        0        0        0        0  ...        0
500        0        0        0        0        0        0  ...        0

     3/15/20  3/16/20  3/17/20  3/18/20  3/19/20  3/20/20  3/21/20  3/22/20  \
0        114      147      177      212      272      322      411      599
1        839      825      878      889      924      963     1007     1086
2        226      243      266      313      345      385      432      455
3          1        1        1        1        1        1        1        2
4        428      566      673      790      900     1030     1183     1306
5         73      103      103      186      231      271      424      424
6        134      171      210      267      307      353      436      533
7         57       71       94      121      121      121      229      296
8         61       68       78       94      144      184      221      221
9          7        7       33       35       37       51       53       84
10        18       28       44       51       60       73       77       82
11      5795     7272     9257    12327    15320    19848    22213    24873
12       244      277      321      336      400      450      523      626
13        98       98       98      113      140      140      153      153
14       140      142      187      202      217      230      307      380
15       113      119      142      156      194      244      330      396
16     24747    27980    31506    35713    41035    47021    53578    59138
17      1022     1103     1190     1279     1439     1639     1763     1934
18      7798     9942    11748    13910    17963    20410    25374    28768
19        20       29       29       37       42       50       67      100
20       886     1058     1243     1486     1795     2257     2815     3401
21       110      150      196      196      256      285      294      327
22         0        0        0        0        0        0        0        0
23       110       99      120      133      157      163      187      248
24       116      124      154      164      192      208      214      233
25        22       22       24       39       48       48       52       55
26        16       21       22       22       22       24       24       40
27       214      214      228      256      278      285      305      332
28       112      123      130      142      148      159      176      188
29        48       54       60       74       87       90      139      201
..       ...      ...      ...      ...      ...      ...      ...      ...
471        0        0        0        0        0        1        3        3
472        0        0        0        0        0        1        1        1
473        0        0        0        0        0        1        1        2
474        0        0        0        0        0        1        1        1
475        0        0        0        0        0        1        1        5
476        0        0        0        0        0        1        3        3
477        0        0        0        0        0        0        1        1
478        0        0        0        0        0        0        1        1
479        0        0        0        0        0        0        1        1
480        0        0        0        0        0        0        1        1
481        0        0        0        0        0        0        1        1
482        0        0        0        0        0        0        0        1
483        0        0        0        0        0        0        0        1
484        0        0        0        0        0        0        0        1
485        0        0        0        0        0        0        0        1
486        0        0        0        0        0        0        0        1
487        0        0        0        0        0        0        0        0
488        0        0        0        0        0        0        0        0
489        0        0        0        0        0        0        0        0
490        0        0        0        0        0        0        0        0
491        0        0        0        0        0        0        0        0
492        0        0        0        0        0        0        0        0
493        0        0        0        0        0        0        0        0
494        0        0        0        0        0        0        0        0
495        0        0        0        0        0        0        0        0
496        0        0        0        0        0        0        0        0
497        0        0        0        0        0        0        0        0
498        0        0        0        0        0        0        0        0
499        0        0        0        0        0        0        0        0
500        0        0        0        0        0        0        0        0

     3/23/20
0      599.0
1     1086.0
2      455.0
3        2.0
4     1306.0
5      424.0
6      533.0
7      296.0
8      221.0
9       84.0
10      82.0
11   24873.0
12     626.0
13     153.0
14     380.0
15     396.0
16   59138.0
17    1934.0
18   28768.0
19     100.0
20    3401.0
21     327.0
22       0.0
23     248.0
24     233.0
25      55.0
26      40.0
27     332.0
28     188.0
29     201.0
..       ...
471      3.0
472      1.0
473      2.0
474      1.0
475      5.0
476      3.0
477      1.0
478      0.0
479      0.0
480      1.0
481      1.0
482      1.0
483      1.0
484      1.0
485      1.0
486      1.0
487     56.0
488     47.0
489     18.0
490     11.0
491      6.0
492      1.0
493      0.0
494      0.0
495      0.0
496      0.0
497      0.0
498      0.0
499      0.0
500      0.0

[501 rows x 66 columns]>

In [2]:
baseUrl = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"

# Step 1: Get the latest file
todaysDate = time.strftime("%m-%d-%Y")
todaysFile = todaysDate + ".csv"
dataUrl = baseUrl + todaysFile
finalFile = dataUrl;

print(f'Trying "{todaysFile}"...')
response = requests.head(dataUrl, timeout=5);
status_code = response.status_code;
reason = response.reason;

if(status_code != 200):
    print('.... error - 404 not found. Looking for yesterday file')

    days_to_subtract = 1;
    yestDate = datetime.today() - timedelta(days=days_to_subtract);
    yestDate = yestDate.strftime("%m-%d-%Y")
    yestFile = yestDate + ".csv"
    dataUrl = baseUrl + yestFile

    print(f'Trying "{yestFile}"...')
    response = requests.head(dataUrl, timeout=5);
    status_code = response.status_code
    reason = response.reason
    
    if(status_code != 200):
        finalFile = "";
        print(f'... Error! Unable to find yesterday file also')
    else:
        finalFile = dataUrl;
        print('... Successfully found yesterday file')

Trying "03-27-2020.csv"...
.... error - 404 not found. Looking for yesterday file
Trying "03-26-2020.csv"...
... Successfully found yesterday file

In [3]:
# Ultimate goal: Get data in 3 column format: Date, Country, TotalConfirmedCasesThusFar

# Step 2: Get the raw data
# 2020/03/23 - Johns Hopkins changed repo to 
#      https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports
df = pd.read_csv(finalFile)
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-26 23:48:35,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-26 23:48:35,30.295065,-92.414197,3,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-26 23:48:35,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-26 23:48:35,43.452658,-116.241552,39,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-26 23:48:35,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [5]:
df[df["Country_Region"] == 'US'].head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-26 23:48:35,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-26 23:48:35,30.295065,-92.414197,3,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-26 23:48:35,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-26 23:48:35,43.452658,-116.241552,39,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-26 23:48:35,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [2]:


# Step 2: Convert date columns to rows
df = df.drop(df.columns[[0, 2, 3]], axis=1)

# Step 3: Convert dates to invididual rows using melt()
key_columns = df.columns.to_list()[:1]
date_columns = df.columns.to_list()[1:]

df_clean = pd.melt(
    df
    , id_vars=key_columns
    , value_vars=date_columns
    , var_name='Date'
    , value_name='Confirmed'
)

# print(df_clean.head())

In [39]:
# Step 3: Group by Country - remove city/province
gbAggs = df_clean.groupby(['Country/Region', 'Date']).agg({
        'Confirmed': [
            np.sum
        ]
})

# Convert from groupby object to dataframe:
gbAggs = gbAggs.reset_index(level=['Country/Region', 'Date'])

# Flatten the index by renaming the columns
gbAggs.columns = ["Country", "Date", "ConfirmedCases"];
gbAggs['Date'] = pd.to_datetime(gbAggs['Date']) 
gbAggs['ConfirmedCases'] = pd.to_numeric(gbAggs['ConfirmedCases'], downcast='integer')
# gbAggs.head()

       Country       Date  ConfirmedCases
0  Afghanistan 2020-01-22               0
1  Afghanistan 2020-01-23               0
2  Afghanistan 2020-01-24               0
3  Afghanistan 2020-01-25               0
4  Afghanistan 2020-01-26               0

In [41]:
# Step 4: Remove all rows until a country has at least 100 rows
dfFinal = gbAggs[gbAggs["ConfirmedCases"] >= 100]
dfFinal = dfFinal.sort_values(["Country", "Date"]);
# dfFinal = dfFinal.set_index("Country", "Date");
# dfFinal.head()
# dfFinal[dfFinal["Country"] == 'US'].tail()

     Country       Date  ConfirmedCases
176  Algeria 2020-03-21             139
177  Algeria 2020-03-22             201
178  Algeria 2020-03-23             201
239  Andorra 2020-03-22             113
240  Andorra 2020-03-23             113

# Target dataframe column format
1. 2000-01-01, 'Coca-Cola', '72537'
2. 2000-01-01, 'Microsoft', '70196'

# Target json data format: 
1. {date: 2000-01-01, name: "Coca-Cola", category: "Beverages", value: 72537}
2. {date: 2000-01-01, name: "Microsoft", category: "Technology", value: 70196}

In [44]:
# orient 'records' creates one element per row w no index value 
print(dfFinal.head().to_json(orient='records', date_format='iso'))

# Export to file
jsonFile = 'temp.json';
dfFinal.to_json(jsonFile, orient='records');
# https://jsonformatter.curiousconcept.com/

[{"Country":"Algeria","Date":"2020-03-21T00:00:00.000Z","ConfirmedCases":139},{"Country":"Algeria","Date":"2020-03-22T00:00:00.000Z","ConfirmedCases":201},{"Country":"Algeria","Date":"2020-03-23T00:00:00.000Z","ConfirmedCases":201},{"Country":"Andorra","Date":"2020-03-22T00:00:00.000Z","ConfirmedCases":113},{"Country":"Andorra","Date":"2020-03-23T00:00:00.000Z","ConfirmedCases":113}]

# Done - now go use the json file in d3