In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from functools import reduce

In [45]:
# Ultimate goal: Get data in 3 column format: Date, Country, TotalConfirmedCasesThusFar

# Step 1: Get the raw data - JHU adds a new column for each date
df = pd.read_csv("https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")

# Step 2: Convert date columns to rows
df = df.drop(df.columns[[0, 2, 3]], axis=1)

# Step 3: Convert dates to invididual rows using melt()
key_columns = df.columns.to_list()[:1]
date_columns = df.columns.to_list()[1:]

df_clean = pd.melt(
    df
    , id_vars=key_columns
    , value_vars=date_columns
    , var_name='Date'
    , value_name='Confirmed'
)

# print(df_clean.head())

In [ ]:
# Step 3: Group by Country 
gbAggs = df_clean.groupby(['Country/Region', 'Date'])

# Convert to a dataframe
dfAggs = gbAggs.apply(lambda _df: _df.sort_values(by=['Country/Region', 'Date']))

dfAggs['Date']= pd.to_datetime(dfAggs['Date']) 
dfAggs = dfAggs.set_index(['Country/Region', 'Date'])
dfAggs = dfAggs.sort_values(['Country/Region', 'Date'])

# print(dfAggs.head())

# Step 4: Remove all rows until a country has at least 100 rows
dfFinal = dfAggs[dfAggs["Confirmed"] >= 100]

In [ ]:
dfFinal.head()

In [68]:
dfFinal = dfFinal.reset_index(level=[0])

IndexError: Too many levels: Index has only 1 level, not 2

In [67]:
dfFinal.head()

        Date Country/Region  Confirmed
0 2020-03-21        Algeria      139.0
1 2020-03-22        Algeria      201.0
2 2020-03-23        Algeria      201.0
3 2020-03-22        Andorra      113.0
4 2020-03-23        Andorra      113.0

In [60]:
dfFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2368 entries, 0 to 2367
Data columns (total 3 columns):
Country/Region    2368 non-null object
Date              2368 non-null datetime64[ns]
Confirmed         2368 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 55.6+ KB

In [69]:
dfFinal[dfFinal["Country/Region"] == 'US']

           Date Country/Region  Confirmed
2142 2020-03-10             US      267.0
2143 2020-03-10             US      173.0
2144 2020-03-10             US      144.0
2145 2020-03-11             US      366.0
2146 2020-03-11             US      220.0
2147 2020-03-11             US      177.0
2148 2020-03-12             US      108.0
2149 2020-03-12             US      328.0
2150 2020-03-12             US      221.0
2151 2020-03-12             US      442.0
2152 2020-03-13             US      568.0
2153 2020-03-13             US      421.0
2154 2020-03-13             US      282.0
2155 2020-03-13             US      123.0
2156 2020-03-14             US      572.0
2157 2020-03-14             US      525.0
2158 2020-03-14             US      138.0
2159 2020-03-14             US      101.0
2160 2020-03-14             US      340.0
2161 2020-03-15             US      643.0
2162 2020-03-15             US      732.0
2163 2020-03-15             US      426.0
2164 2020-03-15             US      164.0
2165 2020-03-15             US      131.0
2166 2020-03-15             US      115.0
2167 2020-03-16             US      904.0
2168 2020-03-16             US      967.0
2169 2020-03-16             US      197.0
2170 2020-03-16             US      136.0
2171 2020-03-16             US      557.0
...         ...            ...        ...
2308 2020-03-23             US     1642.0
2309 2020-03-23             US      646.0
2310 2020-03-23             US      600.0
2311 2020-03-23             US      476.0
2312 2020-03-23             US     1914.0
2313 2020-03-23             US      138.0
2314 2020-03-23             US      165.0
2315 2020-03-23             US     1037.0
2316 2020-03-23             US      207.0
2317 2020-03-23             US      837.0
2318 2020-03-23             US      161.0
2319 2020-03-23             US      627.0
2320 2020-03-23             US     1049.0
2321 2020-03-23             US      509.0
2322 2020-03-23             US      244.0
2323 2020-03-23             US      302.0
2324 2020-03-23             US      196.0
2325 2020-03-23             US      505.0
2326 2020-03-23             US      221.0
2327 2020-03-23             US      152.0
2328 2020-03-23             US      201.0
2329 2020-03-23             US      100.0
2330 2020-03-23             US      190.0
2331 2020-03-23             US      169.0
2332 2020-03-23             US      355.0
2333 2020-03-23             US      381.0
2334 2020-03-23             US      223.0
2335 2020-03-23             US      181.0
2336 2020-03-23             US      102.0
2337 2020-03-23             US      830.0

[196 rows x 3 columns]