In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from functools import reduce

In [65]:
df = pd.read_csv("https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0

In [66]:
# Ultimate goal: Get data in 3 column format: Date, Country, TotalConfirmedCasesThusFar

# Step 1: Convert date columns to rows
df = df.drop(df.columns[[0, 2, 3]], axis=1)

# Step 2: Group by Country 
dfAggs = df.groupby('Country/Region')

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,Thailand,2,3,5,7,8,8,14,14,14,...,82,114,147,177,212,272,322,411,599,599.0
1,Japan,2,1,2,2,4,4,7,7,11,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,Singapore,0,1,3,3,4,5,7,7,10,...,212,226,243,266,313,345,385,432,455,455.0
3,Nepal,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,Malaysia,0,0,0,3,4,4,4,7,8,...,238,428,566,673,790,900,1030,1183,1306,1306.0

In [ ]:
# Step 2: Convert dates to invididual rows using melt()
key_columns = df.columns.to_list()[:1]
date_columns = df.columns.to_list()[1:]

df_clean = pd.melt(
    df
    , id_vars=key_columns
    , value_vars=date_columns
    , var_name='Date'
    , value_name='Confirmed'
)

df_clean.head()

In [73]:
dfAggs.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,Thailand,2,3,5,7,8,8,14,14,14,...,82,114,147,177,212,272,322,411,599,599.0
1,Japan,2,1,2,2,4,4,7,7,11,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,Singapore,0,1,3,3,4,5,7,7,10,...,212,226,243,266,313,345,385,432,455,455.0
3,Nepal,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,Malaysia,0,0,0,3,4,4,4,7,8,...,238,428,566,673,790,900,1030,1183,1306,1306.0
5,Canada,0,0,0,0,0,0,1,1,1,...,64,73,103,103,186,231,271,424,424,424.0
6,Australia,0,0,0,0,3,4,4,4,4,...,112,134,171,210,267,307,353,436,533,533.0
7,Australia,0,0,0,0,1,1,1,1,2,...,49,57,71,94,121,121,121,229,296,296.0
8,Australia,0,0,0,0,0,0,0,1,3,...,46,61,68,78,94,144,184,221,221,221.0
9,Cambodia,0,0,0,0,0,1,1,1,1,...,7,7,7,33,35,37,51,53,84,84.0
10,Sri Lanka,0,0,0,0,0,1,1,1,1,...,10,18,28,44,51,60,73,77,82,82.0
11,Germany,0,0,0,0,0,1,4,4,4,...,4585,5795,7272,9257,12327,15320,19848,22213,24873,24873.0
12,Finland,0,0,0,0,0,0,0,1,1,...,225,244,277,321,336,400,450,523,626,626.0
13,United Arab Emirates,0,0,0,0,0,0,0,4,4,...,85,98,98,98,113,140,140,153,153,153.0
14,Philippines,0,0,0,0,0,0,0,0,1,...,111,140,142,187,202,217,230,307,380,380.0
15,India,0,0,0,0,0,0,0,0,1,...,102,113,119,142,156,194,244,330,396,396.0
16,Italy,0,0,0,0,0,0,0,0,0,...,21157,24747,27980,31506,35713,41035,47021,53578,59138,59138.0
17,Sweden,0,0,0,0,0,0,0,0,0,...,961,1022,1103,1190,1279,1439,1639,1763,1934,1934.0
18,Spain,0,0,0,0,0,0,0,0,0,...,6391,7798,9942,11748,13910,17963,20410,25374,28768,28768.0
19,Australia,0,0,0,0,0,0,0,0,0,...,19,20,29,29,37,42,50,67,100,100.0
20,Belgium,0,0,0,0,0,0,0,0,0,...,689,886,1058,1243,1486,1795,2257,2815,3401,3401.0
21,Egypt,0,0,0,0,0,0,0,0,0,...,109,110,150,196,196,256,285,294,327,327.0
22,Australia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
23,Lebanon,0,0,0,0,0,0,0,0,0,...,93,110,99,120,133,157,163,187,248,248.0
24,Iraq,0,0,0,0,0,0,0,0,0,...,110,116,124,154,164,192,208,214,233,233.0
25,Oman,0,0,0,0,0,0,0,0,0,...,19,22,22,24,39,48,48,52,55,55.0
26,Afghanistan,0,0,0,0,0,0,0,0,0,...,11,16,21,22,22,22,24,24,40,40.0
27,Bahrain,0,0,0,0,0,0,0,0,0,...,210,214,214,228,256,278,285,305,332,332.0
28,Kuwait,0,0,0,0,0,0,0,0,0,...,104,112,123,130,142,148,159,176,188,188.0
29,Algeria,0,0,0,0,0,0,0,0,0,...,37,48,54,60,74,87,90,139,201,201.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,Nicaragua,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,2,2,2.0
468,Madagascar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,3,3,3.0
469,Haiti,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2.0
470,Angola,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,2,2.0
471,Cabo Verde,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,3,3,3.0
472,Netherlands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1.0
473,Niger,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2,2.0
474,Papua New Guinea,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1.0
476,Zimbabwe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,3,3,3.0
478,Cape Verde,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.0
479,East Timor,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.0
480,Eritrea,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1.0
481,Uganda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1.0
482,Dominica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
483,Grenada,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
484,Mozambique,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
485,Syria,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
486,Timor-Leste,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
487,Guadeloupe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,56.0
488,Reunion,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,47.0
489,French Guiana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,18.0
490,Mayotte,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11.0
493,Greenland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
494,Guam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
495,Guernsey,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
496,Jersey,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
497,Puerto Rico,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
498,Republic of the Congo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
499,The Bahamas,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
500,The Gambia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [68]:
# Convert "columns" into "rows" using melt()
key_columns = df.columns.to_list()[:4]
date_columns = df.columns.to_list()[4:]

df_clean = pd.melt(
    df
    , id_vars=key_columns
    , value_vars=date_columns
    , var_name='Date'
    , value_name='Confirmed'
)

df_clean.head()

AttributeError: 'Index' object has no attribute 'to_list'

In [ ]:

# Step 4: Make cumulative by day
# Step 5: Remove all rows until a country has at least 100 rows

In [ ]:
# Convert "columns" into "rows" using melt()
key_columns = df.columns.to_list()[:4]
date_columns = df.columns.to_list()[4:]

df_clean = pd.melt(
    df
    , id_vars=key_columns
    , value_vars=date_columns
    , var_name='Date'
    , value_name='Confirmed'
)

df_clean.head()

In [74]:
print(pd.__version__)

0.23.0